### R and RStudio Files ###
.Rproj.user
.Rhistory
.RData
.RDataTmp*
.Ruserdata
.RDataTmp
# Ignore temporary files created during R/RStudio operations
*.Rproj
*.rproj

### GIS Data Files (Shapefiles, TIFFs, etc.) ###
# Shapefile components
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx

# TIFF files and associated metadata/temporary files
# This pattern will match .tif, .tiff, .tif.aux.xml, etc.
*.tif*
.positai
